In [4]:
a = '홍길동'
print(a)
print(type(a))
b = 100
print(b)
print(type(b))
c = 3.141592
print(c)
print(type(c))
d = True
print(d)
print(type(d))

홍길동
<class 'str'>
100
<class 'int'>
3.141592
<class 'float'>
True
<class 'bool'>

In [5]:
a = 100
print(a)

100

In [6]:
del a
print(a)

NameError: name 'a' is not defined

In [12]:
name = input('이름:')
print(type(name))
print('{}님 안녕하세요'.format(name))

이름:서경덕
<class 'str'>
서경덕님 안녕하세요

In [21]:
age = int(input('나이를 입력하세요:'))
print(type(age))
print('홍길동님의 나이는 {}입니다.'.format(age))
print('{}님은 내년에 {}살 입니다.'.format(name, age + 4))

나이를 입력하세요:20
<class 'int'>
홍길동님의 나이는 20입니다.
서경덕님은 내년에 24살 입니다.

In [23]:
age = int(input('나이를 입력하세요:'))
print(type(age))
print('{}님의 나이는 {}입니다.'.format(name, age))
print('{}님의 나이는 내년에 {}입니다.'.format(name, int(age)+1))

나이를 입력하세요:20
<class 'int'>
서경덕님의 나이는 20입니다.
서경덕님의 나이는 내년에 21입니다.

In [25]:
a = 'Ajou university is best university in korea'
print(a.split())
print(a)

['Ajou', 'university', 'is', 'best', 'university', 'in', 'korea']
Ajou university is best university in korea

In [29]:
name, age = input('이름과 나이를 입력하세요:').split()
print('{}님의 {}살 입니다.'.format(name, age))
print('{}님의 나이는 내년에 {}입니다.'.format(name, int(age)+1))

이름과 나이를 입력하세요:서경덕 23
서경덕님의 23살 입니다.
서경덕님의 나이는 내년에 24입니다.

In [35]:
python, java, android = input('세 과목 점수를 입력하세요: ').split()
print('총 점:{}'.format(int(python)+int(java)+int(android)))

세 과목 점수를 입력하세요: 100 100 100
총 점:300

In [36]:
python, java, android = map(int, input('세 과목 점수를 입력하세요: ').split())
print('총 점: {}'.format(int(python) + int(java) + int(android)))

세 과목 점수를 입력하세요: 50 50 50
총 점: 150