In [1]:
a = ['피자', '햄버거', '치킨']
for food in a:
    print(food)

피자
햄버거
치킨

In [2]:
score_list = [90, 60, 75, 80, 40]
number = 1
for score in score_list:
    if score >= 60:
        print('{}번 학생은 합격입니다.'.format(number))
    else:
        print('{}번 학생은 불합격입니다.'.format(number))
    number += 1

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.

In [3]:
print(range(0, 10, 1))
a = list(range(0, 10))
print(a)
b = list(range(0, 10))
print(b)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for a in range(5):
    print(a)
print(list(range(5)))
for b in [0, 1, 2, 3, 4]:
    print(b)

0
1
2
3
4
[0, 1, 2, 3, 4]
0
1
2
3
4

In [5]:
total = 0
for i in range(1, 11, 1):
    total += i
print(total)

55

In [6]:
import random

num1 = 0; num2 = 0; num3 = 0; num4 = 0; num5 = 0; num6 = 0

for i in range(0, 10):
    r = random.randrange(1, 7)
    print('{0:2d}번째 주사위가 데구르르~~~~~ 굴러서 {1}이 나왔습니다.'.format(i + 1, r))
    
    if r == 1:
        num1 += 1
    elif r == 2:
        num2 += 1
    elif r == 3:
        num3 += 1
    elif r == 4:
        num4 += 1
    elif r == 5:
        num5 += 1
    else:
        num6 += 1
        
print('1의 개수는 {}개 입니다.'.format(num1))
print('2의 개수는 {}개 입니다.'.format(num2))
print('3의 개수는 {}개 입니다.'.format(num3))
print('4의 개수는 {}개 입니다.'.format(num4))
print('5의 개수는 {}개 입니다.'.format(num5))
print('6의 개수는 {}개 입니다.'.format(num6))

 1번째 주사위가 데구르르~~~~~ 굴러서 6이 나왔습니다.
 2번째 주사위가 데구르르~~~~~ 굴러서 4이 나왔습니다.
 3번째 주사위가 데구르르~~~~~ 굴러서 2이 나왔습니다.
 4번째 주사위가 데구르르~~~~~ 굴러서 2이 나왔습니다.
 5번째 주사위가 데구르르~~~~~ 굴러서 3이 나왔습니다.
 6번째 주사위가 데구르르~~~~~ 굴러서 1이 나왔습니다.
 7번째 주사위가 데구르르~~~~~ 굴러서 2이 나왔습니다.
 8번째 주사위가 데구르르~~~~~ 굴러서 4이 나왔습니다.
 9번째 주사위가 데구르르~~~~~ 굴러서 4이 나왔습니다.
10번째 주사위가 데구르르~~~~~ 굴러서 6이 나왔습니다.
1의 개수는 1개 입니다.
2의 개수는 3개 입니다.
3의 개수는 1개 입니다.
4의 개수는 3개 입니다.
5의 개수는 0개 입니다.
6의 개수는 2개 입니다.

In [7]:
import random

count = [0 for i in range(6)]

for i in range(0, 10):
    r = random.randrange(1, 7)
    print('{0}번째 주사위가 데구르르~~~~~ 굴러서 {1}이 나왔습니다.'.format(i + 1, r))
    
    if r == 1:
        count[0] += 1
    elif r == 2:
        count[1] += 1
    elif r == 3:
        count[2] += 1
    elif r == 4:
        count[3] += 1
    elif r == 5:
        count[4] += 1
    else:
        count[5] += 1
        
print('1의 개수는 {}개입니다.'.format(count[0]))
print('2의 개수는 {}개입니다.'.format(count[1]))
print('3의 개수는 {}개입니다.'.format(count[2]))
print('4의 개수는 {}개입니다.'.format(count[3]))
print('5의 개수는 {}개입니다.'.format(count[4]))
print('6의 개수는 {}개입니다.'.format(count[5]))

1번째 주사위가 데구르르~~~~~ 굴러서 4이 나왔습니다.
2번째 주사위가 데구르르~~~~~ 굴러서 6이 나왔습니다.
3번째 주사위가 데구르르~~~~~ 굴러서 6이 나왔습니다.
4번째 주사위가 데구르르~~~~~ 굴러서 4이 나왔습니다.
5번째 주사위가 데구르르~~~~~ 굴러서 1이 나왔습니다.
6번째 주사위가 데구르르~~~~~ 굴러서 1이 나왔습니다.
7번째 주사위가 데구르르~~~~~ 굴러서 1이 나왔습니다.
8번째 주사위가 데구르르~~~~~ 굴러서 4이 나왔습니다.
9번째 주사위가 데구르르~~~~~ 굴러서 6이 나왔습니다.
10번째 주사위가 데구르르~~~~~ 굴러서 6이 나왔습니다.
1의 개수는 3개입니다.
2의 개수는 0개입니다.
3의 개수는 0개입니다.
4의 개수는 3개입니다.
5의 개수는 0개입니다.
6의 개수는 4개입니다.

In [8]:
count = [0 for i in range(6)]

for i in range(0, 10):
    r = random.randrange(1, 7)
    print('{0}번째 주사위가 굴러서 {1}눈이 나왔습니다.'.format(i + 1, r))
    count[r -1] += 1
    
for i in range(len(count)):
    print('{}눈의 개수는 {}개 입니다'.format(i + 1, count[i]))

1번째 주사위가 굴러서 1눈이 나왔습니다.
2번째 주사위가 굴러서 1눈이 나왔습니다.
3번째 주사위가 굴러서 1눈이 나왔습니다.
4번째 주사위가 굴러서 1눈이 나왔습니다.
5번째 주사위가 굴러서 3눈이 나왔습니다.
6번째 주사위가 굴러서 3눈이 나왔습니다.
7번째 주사위가 굴러서 6눈이 나왔습니다.
8번째 주사위가 굴러서 5눈이 나왔습니다.
9번째 주사위가 굴러서 3눈이 나왔습니다.
10번째 주사위가 굴러서 4눈이 나왔습니다.
1눈의 개수는 4개 입니다
2눈의 개수는 0개 입니다
3눈의 개수는 3개 입니다
4눈의 개수는 1개 입니다
5눈의 개수는 1개 입니다
6눈의 개수는 1개 입니다

In [9]:
# 리스트와 for

a = ['Life', 'is', 'too', 'short']
print(a)
print('=' * 80)

for i in range(4):
    print(a[i])
print('=' * 80)

for i in range(len(a)):
    print(a[i])
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

for i in a[1:3]:
    print(i)
print('=' * 80)

['Life', 'is', 'too', 'short']
================================================================================
Life
is
too
short
================================================================================
Life
is
too
short
================================================================================
Life
is
too
short
================================================================================
is
too
================================================================================

In [10]:
# 튜플과 for

a = 'Life', 'is', 'too', 'short'
print(a)
print('=' * 80)

for i in range(4):
    print(a[i])
print('=' * 80)

for i in range(len(a)):
    print(a[i])
print('=' * 80)

for i in a:
    print(i)
print('=' * 80)

for i in a[1:3]:
    print(i)
print('=' * 80)

('Life', 'is', 'too', 'short')
================================================================================
Life
is
too
short
================================================================================
Life
is
too
short
================================================================================
Life
is
too
short
================================================================================
is
too
================================================================================

In [11]:
# set과 for - set은 인덱싱과 슬라이싱이 불가능하다.

a = {'Life', 'is', 'too', 'short'}
print(a)
print('=' * 80)

for i in a:
    print(i)

{'is', 'Life', 'too', 'short'}
================================================================================
is
Life
too
short

In [12]:
# 딕셔너리와 for

a = {'age' : 20, '대학교' : 'Ajou', 'name' : 'Kyungduk'}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'age': 20, '대학교': 'Ajou', 'name': 'Kyungduk'}
dict_keys(['age', '대학교', 'name'])
dict_values([20, 'Ajou', 'Kyungduk'])
dict_items([('age', 20), ('대학교', 'Ajou'), ('name', 'Kyungduk')])

In [13]:
for key in a.keys():
    print(key)
print('=' * 80)
for key in a:
    print(key)

age
대학교
name
================================================================================
age
대학교
name

In [14]:
for key in a.values():
    print(key)
print('=' * 80)
for key in a.keys():
    print(a[key])
print('=' * 80)
for key in a.keys():
    print(a.get(key))
print('=' * 80)

20
Ajou
Kyungduk
================================================================================
20
Ajou
Kyungduk
================================================================================
20
Ajou
Kyungduk
================================================================================

In [15]:
for item in a.items():
    print(item)
print('=' * 80)
for item in a.items():
    print(item[0])
print('=' * 80)
for item in a.items():
    print(item[1])
print('=' * 80)
for key, value in a.items():
    print(key)
print('=' * 80)
for key, value in a.items():
    print(value)
print('=' * 80)
for key, item in a.items():
    print('{0}는 {1}입니다.'.format(key, item))
print('=' * 80)

('age', 20)
('대학교', 'Ajou')
('name', 'Kyungduk')
================================================================================
age
대학교
name
================================================================================
20
Ajou
Kyungduk
================================================================================
age
대학교
name
================================================================================
20
Ajou
Kyungduk
================================================================================
age는 20입니다.
대학교는 Ajou입니다.
name는 Kyungduk입니다.
================================================================================

for while 연습

In [16]:
a = 1
b = 5
while a <= 4:
    print(a)
    a += 1
print(b)

1
2
3
4
5

In [17]:
a = 1
while a <= 13:
    print('파이썬 최고')
    a += 1

파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고
파이썬 최고

In [18]:
a = 1
while a <= 13:
    print('파이썬 최고')
    a += 1
    break

파이썬 최고

In [19]:
number = 1
while True:
    print(number)
    number += 1
    if number >= 10 :
        break

1
2
3
4
5
6
7
8
9

In [23]:
while True:
    number1 = int(input("첫 번째 정수를 입력하세요: "))
    number2 = int(input("두 번째 정수를 입력하세요: "))
    if number1 + number2 == 0:
        break
    else:
        print('두 수의 합: {}'.format(number1+number2))
print('프로그램이 종료되었습니다.')

첫 번째 정수를 입력하세요: 20
두 번째 정수를 입력하세요: 30
두 수의 합: 50
첫 번째 정수를 입력하세요: 0
두 번째 정수를 입력하세요: 0
프로그램이 종료되었습니다.

In [35]:
for a in range(1, 10, 1):
    print(a, end = ' ')
for a in range(10):
    print(a)
for a in range(99, 76, -1):
    print(a)
for a in range(23, 41, 1):
    print(a)

1 2 3 4 5 6 7 8 9 0
1
2
3
4
5
6
7
8
9
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [39]:
a = [[1, 2], [4, 3]]
for b, c in a:
    print(b)
    print(c)

1
2
4
3