In [1]:
def number_sum(num1, num2):
    result = num1 + num2
    return result

In [2]:
number_sum(10, 20)

30

In [3]:
a = number_sum(10, 20)
print(a)

30

In [12]:
def number_minus(num1, num2):
    result = num1 - num2
    return result

In [13]:
num1 = int(input('첫 번째 정수를 입력하세요: '))
num2 = int(input('두 번째 정수를 입력하세요: '))
result = number_minus(num1, num2)
print(result)

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 5
5

In [14]:
def s_replace(str_test):
    return str_test.replace('ㅋ', '')

In [16]:
s = input('문자를 입력해주세요: ')
result = s_replace(s)
result

문자를 입력해주세요: ㅋㅋ바보ㅋㅋ

'바보'

In [22]:
def calculate(num1, num2, op):
    if op == '+':
        result = num1 + num2
    elif op == '-':
        result = num1 - num2
    return result

In [26]:
num1 = int(input('첫 번째 정수를 입력해주세요: '))
num2 = int(input('두 번째 정수를 입력해주세요: '))
op = input('연산를 선택해주세요. (+, -): ')
result = calculate(num1, num2, op)
result

첫 번째 정수를 입력해주세요: 10
두 번째 정수를 입력해주세요: 20
연산를 선택해주세요. (+, -): -

-10

In [29]:
calculate(10, 20, '-')

-10

가변 매개변수

In [30]:
def add(*args):
    print(args)

In [32]:
add(10, 20, 30)

(10, 20, 30)

In [33]:
def add(*args):
    number_sum = 0
    for num in args:
        number_sum += num
    return number_sum

In [34]:
add(10, 20, 30, 40, 50)

150

In [ ]:
** 2개인 경우